# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment files
env/
.venv/

# Ignore data files
data/raw_videos/
data/processed_videos/
data/frames/
data/embeddings/
data/captions/

# Ignore checkpoints
checkpoints/

# Ignore logs
logs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore outputs
outputs/

# Ignore config and sensitive files
*.yaml
